@model IEnumerable<bgce_timetracker.Models.PTO_REQUEST>

@{
    ViewBag.Title = "PTO Requests";
}


<h2>MY PTO Requests</h2>

<p>
    @Html.ActionLink("Submit a new request", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.pto_start)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.pto_end)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.total_time_requested)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.requested_on)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.approved)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.approved_on)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.comments)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.Where(item => item.requested_by == (int)Session["userID"]))
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.pto_start)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.pto_end)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.total_time_requested)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.requested_on)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.approved)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.approved_on)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.comments)
            </td>
            <td>
                @Html.ActionLink("Details", "Details", new { id = item.requestID })
            </td>
        </tr>
    }
