@model bgce_timetracker.Models.PAY_PERIOD

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>PAY_PERIOD</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.start_date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.start_date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.end_date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.end_date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.active)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.active)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.created_on)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.created_on)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.created_by)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.created_by)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ppID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
<h4>Time Sheets in Pay Period</h4>
<table class="table">
    <tr>
        <th>Employee</th>
        <th>Total entries</th>
        <th>Total unpaid time</th>
        <th>Total PTO earned</th>
        <th>Total PTO used</th>
        <th>Total hours worked</th>
        <th>Submitted</th>
        <th>Approved</th>
    </tr>
    @foreach (var entry in Model.TIME_SHEET.Where(i => i.pay_period == Model.ppID))
    {
    <tr>
        <td>@Html.DisplayFor(modelItem => entry.USER1.fname) @Html.DisplayFor(modelItem => entry.USER1.lname)</td>
        <td>@Html.DisplayFor(modelItem => entry.total_entries)</td>
        <td>@Html.DisplayFor(modelItem => entry.total_unpaid_time)</td>
        <td>@Html.DisplayFor(modelItem => entry.total_pto_earned)</td>
        <td>@Html.DisplayFor(modelItem => entry.total_pto_used)</td>
        <td>@Html.DisplayFor(modelItem => entry.total_hours_worked)</td>
        <td>@Html.DisplayFor(modelItem => entry.submitted)</td>
        <td>@Html.DisplayFor(modelItem => entry.approved)</td>
        <td>@Html.ActionLink("Details", "Details", "TimeSheet", routeValues: null, htmlAttributes: new { id = entry.timesheetID })</td>
    </tr>

    }
</table>
