@model bgce_timetracker.Models.EditView

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>USER</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.LUser.username)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LUser.username)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.User.fname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.fname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.User.lname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.lname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.User.active)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.active)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.User.start_date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.start_date)
        </dd>
        <!--
        <dt>
            @Html.DisplayNameFor(model => model.User.created_on)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.created_on)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.User.created_by)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.created_by)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.User.updated_on)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.updated_on)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.User.updated_by)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.updated_by)
        </dd>
            -->
        <dt>
            @Html.DisplayNameFor(model => model.User.email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.User.is_administrator)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.is_administrator)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.User.user_type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.user_type)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.User.total_hours_worked)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.total_hours_worked)
        </dd>
        <!--
        <dt>
            @Html.DisplayNameFor(model => model.User.LOCATION1.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.LOCATION1.name)
        </dd-->

        <dt>
            @Html.DisplayNameFor(model => model.User.PAID_STAFF.pay_schedule)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.PAID_STAFF.pay_schedule)
        </dd>

        <!--dt>
            @Html.DisplayNameFor(model => model.User.UNIT_DIRECTOR.emplID)
        </!--dt>

        <dd>
            @Html.DisplayFor(model => model.User.UNIT_DIRECTOR.emplID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.User.USER2.fname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.USER2.fname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.User.VOLUNTEER.volID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.VOLUNTEER.volID)
        </dd-->
        @if (Model.User.user_type != "Volunteer")
        {
            <dt>
                @Html.DisplayNameFor(model => model.PUser.pto_accrual_rate)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.PUser.pto_accrual_rate)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.PUser.max_pto_accrual)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.PUser.max_pto_accrual)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.PUser.total_pto_accrued)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.PUser.total_pto_accrued)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.PUser.pay_rate)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.PUser.pay_rate)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.PUser.pay_schedule)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.PUser.pay_schedule)
            </dd>
        }
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.User.userID }) |
    <a href="javascript:void(0);" onclick="history.go(-1);">Back</a>
</p>
