@model bgce_timetracker.Models.NOTIFICATION

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>NOTIFICATION</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.recipients)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.recipients)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.type)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.trigger)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.trigger)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.content)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.content)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.created_on)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.created_on)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.expires)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.expires)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.notifID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
