@model bgce_timetracker.Models.TIME_SHEET

@{
                /**/

                ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Time Sheet</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.submitted_on)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.submitted_on)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.approved_on)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.approved_on)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.submitted)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.submitted)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.approved)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.approved)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.comments)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.comments)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.active)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.active)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.is_missing_punches)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.is_missing_punches)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.total_entries)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.total_entries)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.total_hours_worked)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.total_hours_worked)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.total_overtime_worked)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.total_overtime_worked)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.total_pto_used)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.total_pto_used)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.total_pto_earned)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.total_pto_earned)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.total_unpaid_time)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.total_unpaid_time)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.created_on)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.created_on)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PAY_PERIOD1.created_by)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PAY_PERIOD1.created_by)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.USER.fname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.USER.fname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.USER1.fname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.USER1.fname)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.timesheetID }) |
    @Html.ActionLink("Back to List", "Index")
</p>

<h4>Time Sheet Entries</h4>
<table class="table">
    <tr>
        <th>Clock In Time</th>
        <th>Clock Out Time</th>
        <th>Time Type</th>
        <th>Hours Worked</th>
        <th>PTO Earned</th>
        <th>Overtime Worked</th>
    </tr>
   @foreach (var entry in Model.TIME_SHEET_ENTRY.Where(i => i.time_sheet == Model.timesheetID))
   {
    <tr>
        <td>@Html.DisplayFor(modelItem => entry.clock_in_time)</td>
        <td>@Html.DisplayFor(modelItem => entry.clock_out_time)</td>
        <td>@Html.DisplayFor(modelItem => entry.time_type)</td>
        <td>@Html.DisplayFor(modelItem => entry.hours_worked)</td>
        <td>@Html.DisplayFor(modelItem => entry.pto_earned)</td>
        <td>@Html.DisplayFor(modelItem => entry.overtime_hours_worked)</td>
        <td>@Html.ActionLink("Details", "Details", "TimeSheetEntry", routeValues: null, htmlAttributes: new { id = entry.entryID })</td>
    </tr>

    }
</table>

